
 h1 {
  color:red;
  font-family:sans_serif;

}


 h2 {
  color:red;
  font-family:sans_serif;

}


 h3 {
  color:red;
  font-family:sans_serif;

}


 h4 {
  color:red;
  font-family:sans_serif;

}


 h5 {
  color:red;
  font-family:sans_serif;

}


 h6 {
  color:red;
  font-family:sans_serif;

}